<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.mybatis_select_quiz01.dao.RealEstateDAO">
 	<select id="selectRealEstate" parameterType="int" resultType="com.quiz.mybatis_select_quiz01.model.RealEstate">
 		SELECT
 			`id`
 			,`realtorId`
 			,`address`
 			,`area`
 			,`type`
 			,`price`
 			,`rentPrice`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			id=#{id}
 	</select>
 	
 	<select id="selectRealEstateListByRentPrice" parameterType="Integer" resultType="com.quiz.mybatis_select_quiz01.model.RealEstate">
 		SELECT
 			`id`
 			,`realtorId`
 			,`address`
 			,`area`
 			,`type`
 			,`price`
 			,`rentPrice`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
	 		<![CDATA[
	        `rentPrice`<= #{rentPrice}
	        ]]>
 	</select>
 	
 	<select id="selectRealEstateListByAreaAndPrice" parameterType="map" resultType="com.quiz.mybatis_select_quiz01.model.RealEstate">
 		SELECT
 			`id`
 			,`realtorId`
 			,`address`
 			,`area`
 			,`type`
 			,`price`
 			,`rentPrice`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`type`='매매'
	 		<![CDATA[
	        AND `area` >= #{area}
	        AND `price` <= #{price}
	        ]]>
	    ORDER BY `id` DESC <!-- 등록일과 아이디랑 일맥상통 -->
 	</select>
 	
 </mapper>
 
